Options -Indexes
RewriteEngine On

# API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ /api/index.php?path=$1 [QSA,L]

# Widget
RewriteRule ^widget/?$ /widget/index.php [QSA,L]

# Admin
RewriteRule ^admin/?$ /admin/index.php [QSA,L]
